{"filter":false,"title":"datadog.yaml.j2","tooltip":"/ansible/roles/datadog/templates/datadog.yaml.j2","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":6,"column":0},"action":"insert","lines":["api_key: {{ datadog_api_key }}","site: datadoghq.com","","logs_enabled: true","process_config:","  enabled: \"true\"",""],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":0},"end":{"row":6,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":61,"mode":"ace/mode/text"}},"timestamp":1765060547472,"hash":"52e55838e2aa1fdc825221f10f3db2c010d95dae"}