---
- name: Install Datadog Agent
  apt:
    deb: "https://s3.amazonaws.com/dd-agent/datadog-agent-7-latest_amd64.deb"
  when: ansible_os_family == "Debian"

- name: Install Datadog Agent (Amazon Linux)
  shell: |
    DD_API_KEY={{ datadog_api_key }} \
    bash -c "$(curl -L https://s3.amazonaws.com/dd-agent/scripts/install_script.sh)"
  when: ansible_os_family == "RedHat"

- name: Copy Datadog configuration
  template:
    src: datadog.yaml.j2
    dest: /etc/datadog-agent/datadog.yaml

- name: Restart Datadog Agent
  service:
    name: datadog-agent
    state: restarted
    enabled: yes
