---
- name: Configure Datadog Agent on Elastic Beanstalk EC2 instances
  hosts: eb_instances
  become: yes

  vars:
    datadog_api_key: "{{ lookup('env', 'DATADOG_API_KEY') }}"
    datadog_site: "datadoghq.com"

  roles:
    - datadog.datadog

  vars:
    datadog_config:
      logs_enabled: true
      process_config:
        enabled: "true"

    datadog_agent_major_version: 7

    datadog_checks:
      system_core:
        init_config:
        instances:
          - {}

    datadog_additional_groups:
      - adm
      - syslog
