---
- name: Configure Datadog Agent on Elastic Beanstalk EC2 instances
  hosts: eb
  gather_facts: yes
  connection: amazon.aws.aws_ssm
  become: yes


  vars:
    datadog_api_key: "{{ lookup('env', 'DATADOG_API_KEY') }}"

  tasks:
    - name: Install Datadog Agent
      ansible.builtin.shell: |
        sudo yum install -y datadog-agent
      become: yes

    - name: Configure Datadog API key
      ansible.builtin.lineinfile:
        path: /etc/datadog-agent/datadog.yaml
        regexp: '^api_key:'
        line: "api_key: {{ datadog_api_key }}"
      become: yes

    - name: Restart Datadog Agent
      ansible.builtin.systemd:
        name: datadog-agent
        state: restarted
        enabled: yes
      become: yes
